server:
  port: 1010
spring:
  profiles:
    active: dev # 에디터에서 작업할 때는 dev로 설정
    include: secret
  thymeleaf:
    cache: false
    prefix: file:src/main/resources/templates/
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/sbb_1?useUnicode=true&characterEncoding=utf8mb4&autoReconnect=true&serverTimezone=Asia/Seoul
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: false
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 500MB
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    tagsSorter: alpha
    operations-sorter: alpha
    display-request-duration: true
custom:
  genFileDirPath: C:/Users/INSEONG/Desktop/img_upload
  resourcePath: file:///Users/INSEONG/Desktop/img_upload/
  requestPath: /img_upload/**
  originPath: /img_upload/