<!doctype html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body layout:fragment="content">
<div class="my-3 border-bottom">
    <div>
        <h4>로그인</h4>
    </div>
</div>
<div class="container my-3">
    <!-- Add Social Login Buttons -->
    <div class="mb-3">
        <button class="btn" type="button" onclick="location.href='/oauth2/authorization/kakao'">
            <img class="" th:src="@{/image/login_kakao.png}" alt="" style="width : 30px; height : 30px;">
            카카오로 로그인
        </button>
        <button class="btn" type="button" onclick="location.href='/oauth2/authorization/google'">
            <img class="" th:src="@{/image/login_google.png}" alt="" style="width : 30px; height : 30px;">
            구글로 로그인
        </button>
        <button class="btn" type="button" onclick="location.href='/oauth2/authorization/naver'">
            <img class="" th:src="@{/image/login_naver.png}" alt="" style="width : 30px; height : 30px;">
            네이버로 로그인
        </button>
    </div>

  <form th:action="@{/user/login}" method="post">
    <div th:if="${param.error}">
      <div class="alert alert-danger">
        사용자ID 또는 비밀번호를 확인해 주세요.
      </div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input type="text" name="username" id="username" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
</div>
</body>
</html>